body {
    font-family: system-ui; /* Use system-ui font globally */
}

#image-container {
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

img {
    max-width: 100%;
    display: block;
}
