body {
    background-color: #f2f2f2;
    font-family: Arial, sans-serif;
}

h1 {
    text-align: center;
}

button {
    padding: 10px 20px;
    border-radius: 5px;
    border: none;
    background-color: #4CAF50;
    color: #fff;
    font-size: 16px;
    cursor: pointer;
    margin-top: 20px;
}

#image-container {
    margin-top: 20px;
    text-align: center;
}

.slider-container {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 10px;
}

.slider-container label {
    margin-right: 10px;
}
